*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    display:flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 100px;
    background-image: linear-gradient(to bottom, black 60%, yellow 40%);    
}
#container{
    height: 99vh;
    width:100vw;
    padding-top: 20px;
    text-align: center;
}
img{
    height: 150px;
    width:150px;
    border-radius: 50%;
}
